*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}

body
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #000;
}

.responsive-back 
{
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2px;
	flex-wrap: wrap;
	overflow: hidden;
}
.responsive-back::before 
{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(#000,orange,#000);
	animation: animate 5s linear infinite;
}
@keyframes animate 
{
	0%
	{
		transform: translateY(-100%);
	}
	100%
	{
		transform: translateY(100%);
	}
}
.responsive-back span 
{
	position: relative;
	display: block;
	width: calc(6.25vw - 2px);
	height: calc(6.25vw - 2px);
	background: #181818;
	z-index: 2;
	transition: 1.5s;
}
.responsive-back span:hover 
{
	background: orange;
	transition: 0s;
}

.calc-card
{
	position: absolute;
	width: 400px;
	height: 600px;
    background: #2f2f2f;  
	z-index: 1000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px 40px 40px 40px;
	box-shadow: 0 15px 35px rgba(0,0,0,9);
}

h1 {
	color: orange;
	font-family:fantasy;
	letter-spacing: 2px;
	font-weight: lighter;
	margin-bottom: 40px;
}

.result_box_container {
	width: 100%;
	height: 70px;
}

.result_box_container input {
	width: 100%;
	height: 100%;
	background-color: #272727;
	border: solid 3px orange;
}

.grid_container {
	display: grid;
	color: white;
	grid-template-columns: auto auto auto auto;
	width: 100%;
	height: 100%;
	gap: 10px;
}

.grid-item {
	width: 100%;
	background-color: transparent;
}

.grid-item button {
	width: 100%;
	border: none;
	height: 100%;
	font-family: cursive;
	background-color: #272727;
}

.grid_container div:nth-child(1){
	grid-column-start: 1;
	grid-column-end: 3;
	
}
.grid_container div:nth-child(18){
	grid-column-start: 3;
	grid-column-end: 5;
}

.operation {
	color: rgb(0, 217, 255);
	font-size: 20px;
}

.number {
	color: orange;
	font-size: 30px;
}
.number:hover, .operation:hover {
	background-color: #333333;
}

.fa-circle{
	font-size: 10px;
}


@media (max-width: 900px)
{
	.responsive-back span 
	{
		width: calc(10vw - 2px);
		height: calc(10vw - 2px);
	}
}
@media (max-width: 600px)
{
	.responsive-back span 
	{
		width: calc(20vw - 2px);
		height: calc(20vw - 2px);
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
